*{ margin: 0;padding: 0;box-sizing: border-box;}
#container{
    width: 100%;
    margin: auto;
    background-color: black;
    font-family: 'Do Hyeon', sans-serif;
    color: #ffff;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav ul li:hover .nav_line{
    width: 100%;
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

nav ul li a{
    color: rgb(253, 253, 253);
    transition: 0.5s;
}

.nav_items{
    margin-right: 10px;
}
.nav_line{
    width: 0px;
    height: 5px;
    background-color: rgb(0, 17, 252);
    position: relative;
    top: 10px;
    transition: 1s;
}
.nav_links li:hover a{
    text-decoration: none;
    color: rgb(0, 17, 252);

}
footer{
    max-width: 96%;
   
     margin: 10px auto;
     border-top: 1px solid white ;
     text-align: left;
     
}


.icon {text-align: center ;
}

.fa{
    color: #ffff;
    font-size: 25px;
    margin-top: 10px;
    
}
.nav-footer .ttf a{
    color: #ffff;
}.nav-footer .ttf {padding: 20px;
}


   .row1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.row1 a{
    color: rgb(140, 140, 140);
    text-decoration: none;
    margin-right:10px;   
}
.row1 a .onlrow{
    color: rgb(255, 255, 255);
}
 .row1 a:hover{
    color: rgb(255, 255, 255);
}

.search input{
 background-color: #0000;
 border: solid 1px #ffff;
 border-radius: 7px;
 text-align: center;
 margin: auto 0;

}



main{
    width: 96%;
    margin: 0 auto;
}
.qc{
    margin-top: 40px;
text-align: right;
position: static;

}
.qc a p{
    color: white;
}

.all-game{
   padding-top:20px;
}

.game {
    margin: 20px 0;
    text-align: center; 
      
     
 }
 
 .game a{
     color: rgb(163, 163, 163);
     text-decoration: none;
 }
 .game a .trf{
     margin: 10px auto;
 }
 
 .game a .trf  .image {
     max-width: 100%;
     overflow: hidden; 
    
    
 }
 .game a .trf  .image img{
     transition: all 0.5s ease-in-out;
 }
 .game a .trf :hover img{
     transform: scale(1.1);
     opacity: 1;  
     color: cornsilk;
 
 }
 .game a .trf  :hover { 
     
     color: cornsilk;
 }
 .col-10 h3 a {
     color: rgb(162, 162, 162);
     text-decoration: none;
 }
 .col-10 h3 a :hover {
     color: rgb(255, 255, 255);
 }
 .onlrow{
    color: rgb(255, 255, 255);
}
 

